body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: Oxygen, sans-serif;
}

#header-nav{
    background-color: #f6b319;
    border-radius: 0;
    border 0;
}

#logo-img {
  width: 150px;
  height: 150px;
  margin: 0px 5px 0px 0px;
}

#starpic {
  width: 30px;
  height: 30px;
}

.navbar-brand h1 {
  font-family: "Lora", sans-serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 25px;
  margin-bottom: 0;
  line-height: 0.75;
}

.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-brand p {
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.7em;
  margin-top: 15px;
}

.navbar-brand p span{
  vertical-align: middle;
}


#nav-list a{
  color: #951c49;
  text-align: center;
}
#nav-list a:hover{
  background: #e7e7e7;
}
#nav-list a span{
  font-size: 1.8em;
  margin-bottom: 8px;
}


#phone a{
  margin-left: 20px;
  text-align: right;
  padding-bottom: 0;
  font-weight: 600;
  margin-bottom: 0;
  padding-top: 8px;
}
#phone a:hover{
  text-decoration: none;
}
#phone div{
  color:#557c3e;
  font-weight: 600;
  text-align: right;
  padding-top: 0px;
  padding-right: 5px;
}

#header-nav .navbar-toggler{
  border:  2px solid #61122f;
  clear: both; 
}

#menu-tile, #specials-tile, #map-tile{
  height: 250px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3f0c1f;
  overflow: hidden;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile{
  background: url(../pics/popech2.jpg) no-repeat;
  background-position: center;
}
#specials-tile{
  background: url(../pics/popech3.jpg) no-repeat;
  background-position: center;
}

#menu-tile span, #specials-tile span, #map-tile span{
  position: absolute;
  bottom:0;
  right:0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  opacity: .8;
}



.jumbotron{
  margin-top: 32px;
}
@media(min-width: 1200px){
  .jumbotron{
    background: url(../pics/popech.jpg) no-repeat;
    height:675px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
   
  }
}
@media(min-width: 992px) and (max-width:1199px){
  #logo-img{
    width: 100px;
    height: 100px;
  } 
  .jumbotron{
    background: url(../pics/popech992.jpg) no-repeat;
    height:558px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
   
  }
}
@media(min-width: 768px) and (max-width:991px){
  .jumbotron{
    background: url(../pics/popech768.jpg) no-repeat;
    height:432px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
    
  }
}
@media(max-width: 767px){
  .jumbotron{
    margin-top: 5px;
    padding: 0;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
  }
  
  #navbarSupportedContent a{
    font-size: 1.2em;
  }
  #navbarSupportedContent a span{
    font-size: 1em;
    margin-right: 5px;
  }
  #menu-tile, #specials-tile{
    width: 360px;
    margin: 0 auto 15px;
  }
}
@media(max-width: 478px){
  #menu-tile, #specials-tile, #map-tile{
    width: 280px;
    margin: 0 auto 15px;
  }
  .navbar-brand h1{
    padding-top: 5px;
    font-size: 6vw;
  }
}


#call-btn > a{
  font-size: 1.5em;
  display: block;
  margin-top: 10px;
  padding: 10px;
  border: 2px solid #fff;
  background-color: #f6b319;
  color: #951c49;
}
#xs-believe{
  margin-top: 5px;
  font-size: .7em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

